@import "variables";

#home-hero {
  background-color: #292929;
  display: flex;
  color: white;
  a {
    color: white;
  }
  .hero-left {
    border-right: solid 3px #3acebc;
    width: 128px;
    min-width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0;
    .logo-icon {
      img {
        width: 60px;
      }
    }
    .social-btns {
      display: flex;
      flex-direction: column;
      max-width: 40px;
      .social-icon {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
  .hero-right {
    flex: 1;
    .btn-hero {
      height: 49px;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      padding: 0 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .nav-links-wrapper {
      height: 76px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav-links {
        display: flex;
        a {
          margin-right: 49px;
        }
      }
    }
    .hero-content {
      display: flex;
      align-items: center;
      padding: 34px;
      .hero-img-wrapper {
        margin-right: 50px;
        img {
          width: 100%;
        }
      }
      .hero-title-wrapper {
        padding-right: 127px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h3 {
          font-size: 40px !important;
        }
        p {
          font-size: 16px !important;
          margin-bottom: 30px;
        }
      }
    }
    .latest-client {
      display: flex;
      padding: 25px 0;
      background-color: #35373d;
      .latest-left {
        display: flex;
        align-items: center;
        border-right: solid 3px #3acebc;
        max-width: 272px;
        padding: 0 50px;
        h4 {
          font-size: 40px !important;
        }
      }
      .latest-right {
        padding: 25px 0;
        display: flex;
        align-items: center;
        .img-fish {
          margin-left: 60px;
        }
        .latest-content {
          display: flex;
          flex-direction: column;
          margin-left: 60px;
          .latest-description {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .btn-hero {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1450px) {
  }
  @media (max-width: 1250px) {
  }
  @media (max-width: 1100px) {
  }
  @media (max-width: 1000px) {
  }
  @media (max-width: 572px) {
  }
  @media (max-width: 450px) {
  }
}
