@import "variables";

.home-hero {
  background-color: #292929;
  display: flex;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
  .hero-left {
    border-right: solid 3px #3acebc;
    width: 128px;
    min-width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0;
    .logo-icon {
      img {
        width: 60px;
      }
    }
    .social-btns {
      display: flex;
      flex-direction: column;
      max-width: 40px;
      .social-icon {
        width: 100%;
        img {
          width: 100%;
          margin-bottom: 30px;
        }
      }
    }
  }
  .hero-right {
    flex: 1;
    .btn-hero {
      height: 49px;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      padding: 0 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        border: 1px solid #3acebc;
      }
      &.m-w-165{
        min-width: 165px; 
      }
    }
    .nav-links-wrapper {
      height: 76px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo-icon-sm {
        display: none;
      }
      .nav-links {
        display: flex;
        a {
          margin-right: 49px;
        }
      }
    }
    .hero-content {
      .hero-img-wrapper {
        // margin-right: 50px;
        img {
          width: 100%;
        }
      }
      .hero-title-wrapper {
        padding-right: 127px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h3 {
          font-size: 40px !important;
        }
        p {
          font-size: 16px !important;
          margin-bottom: 30px;
        }
      }
    }
    .latest-client {
      display: flex;
      padding: 25px 0;
      background-color: #35373d;
      .latest-left {
        display: flex;
        align-items: center;
        border-right: solid 3px #3acebc;
        max-width: 272px;
        padding: 0 50px;
        h4 {
          font-size: 40px !important;
        }
      }
      .latest-right {
        padding: 25px 0;
        display: flex;
        align-items: center;
        .img-fish {
          margin-left: 60px;
        }
        .latest-content {
          display: flex;
          flex-direction: column;
          margin-left: 60px;
          .latest-description {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .btn-hero {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1450px) {
  }
  @media (max-width: 1250px) {
  }
  @media (max-width: 1100px) {
  }
  @media (max-width: 1000px) {
    .hero-left {
      display: none;
      width: 0;
    }
    .hero-right {
      .btn-hero {
        height: 36px;
      }
      .nav-links-wrapper {
        background-color: #35373D;
        width: 100%;
        .logo-icon-sm {
          display: block;
          width: 40px;
        }
      }
      .hero-content {
        padding-top: 76px;
        .hero-title-wrapper {
          align-items: center;
          padding-right: 0;
          margin-bottom: 44px;
          text-align: center;
          padding-top: 30px;
          h3 {
            font-size: 35px !important;
          }
          p {
            font-size: 14px !important;
            margin-bottom: 22px;
          }
        }
      }
      .latest-client {
        flex-direction: column;
        text-align: center;
        padding: 25px 50px;
        .latest-left {
          border-right: none;
          max-width: unset;
          justify-content: center;
          h4 {
            font-size: 35px !important;
          }
        }
        .latest-right {
          flex-direction: column;
          .img-fish {
            margin-left: 0px;
            width: 62px;
            margin-bottom: 20px;
          }
          .latest-content {
            margin-left: 0;
            .latest-description {
              flex-direction: column;
              font-size: 14px !important;
              p {
                margin-bottom: 30px !important;
              }
              .btn-hero {
                margin-left: 0px;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 572px) {
  }
  @media (max-width: 450px) {
  }
}
