@import "variables";

.home-body {
  a {
    text-decoration: none;
  }
  section {
    padding: 85px 0;
  }
  .font-cap1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 133.7%;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .font-cap2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
  }
  .font-cap3 {
    font-style: normal;
    font-size: 38px;
    line-height: 58px;
    color: #ffffff;
    letter-spacing: 10%;
  }
  .font-cap4 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }

  .what-need {
    background-color: #442966;
    .image-area {
      display: flex;
      justify-content: space-around;
      .join-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 160px;
        }
      }
      .img-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 240px;
      }
    }
  }
  .latest-clients {
    background: #35373d;
  }
  .become-a-client {
    background-color: #442966;
    .clients-wrapper {
      display: flex;
      width: 100%;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      .koi-box {
        flex: 1;
        display: flex;
        flex-direction: row;
        margin: 0 12px;
        background-color: #563399;
        border-radius: 38px;
        align-items: center;
        min-height: 118px;
        img {
          margin-left: 35px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .koi-descr {
          margin-left: 50px;
          margin-right: 25px;
          flex: 1;
        }
        @media (max-width: 768px) {
          margin: 5px 15px;
          img {
            width: 80px;
          }
          .koi-descr {
            text-align: right;
          }
        }
      }
      .keytango-box {
        flex: 1;
        display: flex;
        flex-direction: row;
        margin: 0 12px;
        background-color: white;
        border-radius: 38px;
        align-items: center;
        min-height: 118px;
        img {
          margin-left: 35px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .keytango-descr {
          color: #35373D;
          margin-left: 50px;
          margin-right: 25px;
          flex: 1;
          font-size: 24px;
          font-weight: bold;
        }
        @media (max-width: 768px) {
          margin: 5px 35px;
          img {
            width: 100px;
          }
          .keytango-descr {
            text-align: right;
            font-size: 12px;
          }
        }
      }
    }
    .become-container {
      background: url("/img/landing/bk_lines.svg");
      min-height: 800px;
      background-size: 100%;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -100px;
      @media (max-width: 1500px) {
        min-height: 650px;
      }
      @media (max-width: 1300px) {
        margin-top: -80px;
        min-height: 580px;
      }
      @media (max-width: 1100px) {
        margin-top: -50px;
        min-height: 500px;
      }
      @media (max-width: 900px) {
        margin-top: 0px;
        min-height: 330px;
      }
      @media (max-width: 767px) {
        background-size: cover;
      }
    }
    .become-clinet-area {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #35373d;
      border-radius: 38px;
      padding: 52px 75px;

      text-transform: uppercase;
      font-weight: 500;
      font-size: 38px;
      line-height: 57px;
      letter-spacing: 0.1em;
      color: #ffffff;
      @media (max-width: 1100px) {
        padding: 25px 35px;
        font-size: 30px;
        line-height: 45px;
        img {
          width: 30px;
        }
      }
      @media (max-width: 575px) {
        padding: 20px 35px;
        font-size: 20px;
        line-height: 30px;
        img {
          width: 20px;
        }
      }
    }
  }
  .operation {
    background: url("/img/landing/bk_operation.png");
    background-size: 100% 100%;
    margin-top: -2px;
    background-repeat: no-repeat;
    .operation-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .lbl1 {
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 38px;
        text-align: center;
        color: #3acebc;
        &:last-child {
          color: #66ccff;
          margin: 50px 0;
        }
      }
      &:hover {
        .lbl1 {
          color: white;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .what-need {
      .image-area {
        flex-direction: column;
        .join-option {
          margin-top: 50px;
          &:first-child {
            margin-top: 10px;
          }
          img {
            width: 120px;
          }
          .img-desc {
            width: auto;
          }
        }
      }
    }
    .font-cap1 {
      font-size: 20px;
      line-height: 133.7%;
    }
    .font-cap2 {
      font-size: 16px;
      line-height: 24px;
    }
    .font-cap3 {
      font-size: 24px;
      line-height: 37px;
      font-weight: 500;
    }
    .font-cap4 {
      font-size: 12px;
      line-height: 18px;
    }
    .koi-box {
      margin-left: 35px !important;
      margin-right: 35px !important;
    }
    .operation {
      padding: 50px 0;
      .operation-container {
        .lbl1 {
          font-size: 15px;
          line-height: 19px;
          &:last-child {
            margin: 30px 0;
          }
        }
      }
    }
  }
  @media (max-width: 575px) {
    .become-a-client {
      .koi-box {
        img {
          margin-left: 20px;
          width: 80px;
        }
        .koi-descr {
          margin-left: 25px;
          margin-right: 25px;
          flex: 1;
        }
      }
    }
  }
  @media (max-width: 450px) {
    .become-a-client {
      .koi-box {
        img {
          margin: 10px 0 10px 20px;
        }
        .koi-descr {
          margin-left: 0px;
          margin-right: 25px;
          flex: 1;
          text-align: right;
        }
      }
    }
  }
}
