<div class="x-body">
    <section class="join-area">
        <div class="fw-pin">
            <img src="/img/product/forward.svg" alt="">
        </div>
        <div class="container">
            <div class="font-cap1">join our discord</div>    
        </div>
        <div class="bw-pin">
            <div class="before"></div>
            <div class="font-cap2">Embed Discord Widget Here</div>
        </div>
    </section>
    <iframe src="https://discord.com/widget?id=753323434636869673&theme=dark" width="350" height="200" >Embed Discord Widget Here</iframe>
</div>