@import "variables";

#footer {
  min-height: 164px;
  display: flex;
  align-items: center;
  background-color: #292929;
  color: white;
  .home-bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .bottom-logo {
      img {
        width: 70px;
      }
    }
    .social-btns {
      .social-icon {
        img {
          width: 40px;
          margin-left: 30px;
        }
      }
    }
    .bottom-line {
      flex: 1;
      height: 3px;
      background-color: #3acebc;
      margin: 0 45px;
    }
  }
  @media (max-width: 1000px) {
    min-height: unset;
    padding: 30px 0;
    .home-bottom-wrapper {
      .bottom-line {
        display: none;
      }
      .bottom-logo {
        img {
          width: 49px;
        }
      }
      .social-btns {
        .social-icon {
          img {
            width: 30px;
          }
        }
      }
    }
  }
}
