<header id="about_hero" class="home-hero">
    <div class="hero-left">
      <a class="logo-icon" href="/"><img src="/img/logo.svg" width="32" /></a>
      {% include common/social.html %}
    </div>
    <div class="hero-right">
      {% include common/new-nav.html %}
      <div class="container-fluid hero-content">
        <div class="row">
          <div class="col-md-4 col-12 main-content-right">
            <div class="hero-title-wrapper">
              <h3>
                See Our Latest Projects
              </h3>
            </div>
          </div>
          <div class="col-md-8 col-12 main-content-left">
            <div class="hero-img-wrapper">
              <img src="/img/clients/main.svg" />
            </div>
            <h3 class="mobile-main-title">
              See Our Latest Projects
            </h3>
          </div>
        </div>
      </div>
      <div class="header-last">
        <div class="latest-left">
          <h4>We develop apps from the A to the XYZ</h4>
          <div class="divider"></div>
        </div>
      </div>
    </div>
</header>
  