<header id="about_hero" class="home-hero">
    <div class="hero-left">
      <a class="logo-icon" href="/"><img src="/img/logo.svg" width="32" /></a>
      {% include common/social.html %}
    </div>
    <div class="hero-right">
      {% include common/new-nav.html %}
      <div class="container-fluid hero-content">
        <div class="row">
          <div class="col-md-4 col-12 main-content-right">
            <div class="hero-title-wrapper">
              <h3>
                See Our Latest Projects
              </h3>
            </div>
          </div>
          <div class="col-md-8 col-12 main-content-left">
            <div class="hero-img-wrapper">
              <img src="/img/clients/main.svg" />
            </div>
            <h3 class="mobile-main-title">
              See Our Latest Projects
            </h3>
          </div>
        </div>
      </div>
      <div class="header-last">
        <div class="latest-left">
          <h4>Defining web3.0</h4>
          <div class="divider"></div>
        </div>
        <div class="latest-right">
          <div class="descr-area">
            <p class="mb-0">From A to .XYZ we are the development experts for Web3.0 & Blockchain protocols.</p>
            <br>
            <p>
              The x-y-z of advancing distributed projects starts with a process and ends with execution. Our process is simple, hire experienced designers, product managers and engineers. We specialize in building "full stack" peer-to-peer networks and help to unbundle web services in order to create community-operated protocols. 
            </p>
          </div>
          <div class="descr-area">
            <p class="mb-0">
              With a multi-cultural and distributed workforce, our project teams touch all areas of the modern web stack, and employ elements of Agile, CI and Test-Driven Development.</p>
              <br>
            <p> 
              We enjoy working with visionary founders and hackers to build and execute on productive growth. 
            </p>
          </div>
        </div>
      </div>
    </div>
</header>
  