<section id="footer">
    <div class="container">
      <div class="home-bottom-wrapper">
        <a class="bottom-logo" href="#home-hero"><img src="/img/logo.svg" width="32" /></a>
        <div class="bottom-line"></div>
        <div class="social-btns">
          <a
            href="https://discord.gg/ZVvsXHYCRk"
            target="_blank"
            class="social-icon"
          >
            <img src="/img/icons/social_discord.svg" alt="" width="46" />
          </a>
          <a href="mailto:info@web3tech.xyz" class="social-icon">
            <img src="/img/icons/social_email.svg" alt="" width="44" />
          </a>
          <a href="https://t.me/joinchat/EDKbUy1f4p0zNGVh" class="social-icon">
            <img src="/img/icons/social_tw.svg" alt="" width="46" />
          </a>
          <a href="https://github.com/technology-xyz" class="social-icon">
            <img src="/img/icons/icon_github.svg" alt="" width="46" />
          </a>
        </div>
      </div>
    </div>
</section>