<section id="footer">
    <div class="container">
        <div class="desktop-area">
            <div class="logo-wrap1">
                <div class="w200">
                    <a href="/"><img src="/img/common/footer_logo.svg" alt="" width="130"></a>
                </div>
                <div class="social-btns">
                    <a href="https://discord.gg/ZVvsXHYCRk" target="_blank" class="social-icon">
                        <img src="/img/icons/social_discord.svg" alt="" width="46">
                    </a>
                    <a href="#" class="social-icon">
                        <img src="/img/icons/social_email.svg" alt="" width="44">
                    </a>
                    <a href="#" class="social-icon">
                        <img src="/img/icons/social_tw.svg" alt="" width="46">
                    </a>
                </div>
            </div>
            <div class="logo-wrap2">
                <div class="w200">
                    <div class="company-area">
                        <div class="company-name"><a href="#">Company</a></div>
                        <div class="company-name"><a href="/about">About</a></div>
                        <div class="company-name"><a href="#">Team</a></div>
                        <div class="company-name"><a href="#">Mission</a></div>
                    </div>
                </div>
                <div class="contact-area">
                    <div class="font1">Contact Us:</div>
                    <div class="contact-wrap">
                        <div class="contact1">
                            <a href="#">hello@web3tech.xyz</a>
                            <a href="#">solutions@web3tech.xyz</a>
                            <a href="#">developer@web3tech.xyz</a>
                        </div>
                        <div class="contact2">
                            <a href="#">defi@web3tech.xyz</a>
                            <a href="#">jobs@web3tech.xyz</a>
                            <a href="#">info@web3tech.xyz</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="mobile-area">
            <div class="m-wrap1">
                <div class="company-name"><a href="#">Company</a></div>
            </div>
            <div class="m-wrap2">
                <div class="company-name"><a href="/about">About</a></div>
                <div class="company-name"><a href="#">Team</a></div>
                <div class="company-name"><a href="#">Mission</a></div>
            </div>
            <div class="social-btns">
                <a href="https://discord.gg/ZVvsXHYCRk" target="_blank" class="social-icon">
                    <img src="/img/icons/social_discord.svg" alt="" width="26">
                </a>
                <a href="#" class="social-icon">
                    <img src="/img/icons/social_email.svg" alt="" width="25">
                </a>
                <a href="#" class="social-icon">
                    <img src="/img/icons/social_tw.svg" alt="" width="26">
                </a>
            </div>
            <div class="lbl-contact-us">Contact Us:</div>
        </div>
    </div>
</section>
