<section id="footer">
    <div class="container">
        <div class="desktop-area">
            <div class="logo-wrap1">
                <div class="w200">
                    <img src="/img/common/footer_logo.svg" alt="" width="130">
                </div>
                <div class="social-btns">
                    <a href="#" class="social-icon">
                        <img src="/img/icons/social_discord.svg" alt="" width="46">
                    </a>
                    <a href="#" class="social-icon">
                        <img src="/img/icons/social_email.svg" alt="" width="44">
                    </a>
                    <a href="#" class="social-icon">
                        <img src="/img/icons/social_tw.svg" alt="" width="46">
                    </a>
                </div>
            </div>
            <div class="logo-wrap2">
    
            </div>

        </div>
    </div>
    <p class="text-center mb-0">©KOI Co. 2021</p>
</section>
