<div class="social-btns">
  <a
    href="https://discord.gg/ZVvsXHYCRk"
    target="_blank"
    class="social-icon"
  >
    <img src="/img/icons/icon-github-rotate.svg" alt="" width="40" />
  </a>
  <a href="mailto:info@web3tech.xyz" class="social-icon">
    <img src="/img/icons/icon-twitter.svg" alt="" width="30" />
  </a>
  <a href="https://t.me/joinchat/EDKbUy1f4p0zNGVh" class="social-icon">
    <img src="/img/icons/icon-mail.svg" alt="" width="36" />
  </a>
  <a href="https://github.com/technology-xyz" class="social-icon">
    <img src="/img/icons/icon-discord-rotate.svg" alt="" width="40" />
    <i class="fab fa-telegram"></i>
  </a>
</div>