@import "variables";

.x-body {
  .join-area {
    background-color: #260840;
    position: relative;
    display: flex;
    height: 426px;
    .join-left {
      width: 60%;
      display: flex;
      align-items: center;
      clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);
      background-color: #442966;
      a {
        font-family: Prompt;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 68px;
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #3acebc;
        margin-left: 32px;
        br {
          display: none;
          @media (max-width: 1383px) {
            display: block;
          }
          @media (max-width: 911px) {
            display: none;
          }
        }
      }
    }
    .join-right {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 472px;
      }
    }
  }
  @media (max-width: 910px) {
    .join-area {
      flex-direction: column;
      height: unset;
      .join-left {
        width: 100%;
        clip-path: unset;
        height: 150px;
        .join-img {
          height: 100%;
          img {
            height: 100%;
            width: auto;
          }
        }
        a {
          font-size: 18px;
          line-height: 30px;
        }
      }
      .join-right {
        width: 100%;
        padding: 20px 0;
        img {
          max-width: 300px;
        }
      }
    }
  }
}
