@import "variables";

#about_hero {
  .main-content-left{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .mobile-main-title{
    display: none;
  }
  .hero-img-wrapper{
    padding: 20px 0;
  }
  .hero-title-wrapper{
    padding: 20px 0;
    p{ text-align: left;}
  }
  @media (max-width: 1250px) {
  }
  @media (max-width: $sm) {
    .mobile-main-title{
      display: block;
      position: absolute;
      font-size: 35px !important;
      padding: 0 50px;
      text-align: center;
      background: #292929b0;
    }
    .hero-title-wrapper{
      padding: 20px 50px;
      p{ text-align: center; }
      h3, a{display: none;}
    }
  }
  @media (max-width: 572px) {
  }
  @media (max-width: 479px) {
    .mobile-main-title{
      font-size: 30px !important;
      padding: 0 20px;
    }
    .hero-title-wrapper{
      padding: 20px;
    }
  }
}
