<header id="about-header">
    <div class="container">
        <div class="col-12">
            <div class="font-cap1">Welcome to .xyz Technologies</div>
            <div class="font-cap2 mt25 header-description">
                Our vision is to exert unparalleled influence on creators and help advance the development of Web3.0
                <br/>
                <br/>
                <span class="color-green">
                    We are on a mission to build distributed networks and allow individuals to own their digital assets.
                </span> 
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-12 section1">
            <div class="font-cap3 color-green">Defining Web3.0</div>
            <div class="mt25 section-description">
                <div class="left-area">
                    <div class="font-cap4">
                        From A to .XYZ we are the development experts for Web3.0 & Blockchain protocols.  
                        <br>
                        <br>
                        Our process involves creating "nodes" of engineers, product strategists and designers interested in building dApps and pairing them with innovative projects to deploy beautifully architected Web3 services. 
                    </div>
                </div>
                <div class="right-area">
                    <div class="font-cap4">
                        With a multi-cultural and distributed workforce specializing in building "full stack" peer-to-peer networks, we help to unbundle web services in order to create communities owned by the network participants.
                        <br>
                        <br>
                        We enjoy working with visionary founders and hackers to build and execute Web3 services. 
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
