<header id="about-header">
    <div class="container">
        
        <div class="">
            <div class="col-12">
                <div class="font-cap1">Welcome to .xyz Technologies</div>
                <div class="font-cap2 mt25 header-description">
                    Our vision is to exert unparalleled influence on creators and help advance the development of Web3.0
                    <br/>
                    <br/>
                    <span class="color-green">
                        We are on a mission to build to build distributed networks that connect the future of internet services and allow individuals to own their digital assets.
                    </span> 
                </div>
            </div>
        </div>
    </div>
</header>
