<header id="about_hero" class="home-hero">
    <div class="hero-left">
      <a class="logo-icon" href="/"><img src="/img/logo.svg" width="32" /></a>
      {% include common/social.html %}
    </div>
    <div class="hero-right">
      {% include common/new-nav.html %}
      <div class="container-fluid hero-content">
        <div class="row">
          <div class="col-md-4 col-12 main-content-left">
            <div class="hero-img-wrapper">
              <img src="/img/about/main.svg" />
            </div>
            <h3 class="mobile-main-title">
              Welcome to <span class="text-green">.XYZ</span> Technologies
            </h3>
          </div>
          <div class="col-md-8 col-12 main-content-right">
            <div class="hero-title-wrapper">
              <h3>
                Welcome to <span class="text-green">.XYZ</span> Technologies
              </h3>
              <p>Our vision is to exert unparalleled influence on creators and help advance the development of Web3.0 </p>
              <p class="text-green">
                We are on a mission to build distributed networks that connect the future of internet services and allow individuals to own their digital assets.
              </p>
              <a href="#" target="_blank">
                <div class="btn-hero">
                  <span class="text-green">//</span> SEE MORE
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="latest-client">
        <div class="latest-left">
          <h4>Latest Clients</h4>
        </div>
        <div class="latest-right">
          <img class="img-fish" src="/img/home/fish.svg" />
          <div class="latest-content">
            <h4 class="text-green">Koii</h4>
            <div class="latest-description">
              <p class="mb-0">
                KOII is building Decentralized Media and the Attention Economy
              </p>
              <div class="btn-hero m-w-165">
                <span class="text-green">//&nbsp;</span> SEE MORE
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>
  