<header id="home-hero">
  <div class="hero-left">
    <a class="logo-icon" href="/"><img src="/img/logo.svg" width="32" /></a>
    <div class="social-btns">
      <a
        href="https://discord.gg/ZVvsXHYCRk"
        target="_blank"
        class="social-icon"
      >
        <img src="/img/icons/icon-discord.svg" alt="" width="46" />
      </a>
      <a href="mailto:info@web3tech.xyz" class="social-icon">
        <img src="/img/icons/icon-mail.svg" alt="" width="44" />
      </a>
      <a href="https://t.me/joinchat/EDKbUy1f4p0zNGVh" class="social-icon">
        <img src="/img/icons/icon-twitter.svg" alt="" width="46" />
      </a>
      <a href="https://github.com/technology-xyz" class="social-icon">
        <img src="/img/icons/icon-github.svg" alt="" width="46" />
        <i class="fab fa-telegram"></i>
      </a>
    </div>
  </div>
  <div class="hero-right">
    <div class="nav-links-wrapper">
      <div class="nav-links ml-auto mt-lg-0">
        <a href="/">Home</a>
        <a href="/about">ABOUT</a>
        <a href="https://medium.com/xyz-technologies" target="_blank">BLOG</a>
        <a href="https://discord.gg/ZVvsXHYCRk" target="_blank">DISCORD</a>
      </div>
    </div>
    <div class="hero-content">
      <div class="row w-100">
        <div class="col-md-6">
          <div class="hero-title-wrapper">
            <h3>
              We Build <br />Applications <br />for
              <span class="text-green">Web3.0</span>
            </h3>
            <p>
              Peer to peer application development doesn’t have to be complicated.
              Let our team of distributed systems experts build your vision.
            </p>
            <div class="btn-hero">
              <span class="text-green">//</span> BECOME A CLIENT
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="hero-img-wrapper">
            <img src="/img/home/building.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="latest-client">
      <div class="latest-left">
        <h4>Latest Clients</h4>
      </div>
      <div class="latest-right">
        <img src="/img/home/fish.svg" />
        <div class="latest-content">
          <h4 class="text-green">Koii</h4>
          <p class="mb-0">KOII is building Decentralized Media and the Attention Economy</p>
        </div>
        <div class="btn-hero">
          <span class="text-green">//</span> BECOME A CLIENT
        </div>
      </div>
    </div>
  </div>
</header>
