<header class="home-hero">
  <div class="hero-left">
    <a class="logo-icon" href="/"><img src="/img/logo.svg" width="32" /></a>
    {% include common/social.html %}
  </div>
  <div class="hero-right">
    {% include common/new-nav.html %}
    <div class="container-fluid hero-content">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="hero-title-wrapper">
            <h3>
              We Build <br />Applications <br />for
              <span class="text-green">Web3.0</span>
            </h3>
            <p>
              Peer to peer application development doesn’t have to be
              complicated. Let our team of distributed systems experts build
              your vision.
            </p>
            <a href="https://forms.gle/S81vqPmEvLG1j2j2A" target="_blank">
              <div class="btn-hero">
                <span class="text-green">//</span> BECOME A CLIENT
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="hero-img-wrapper">
            <img src="/img/home/building.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="latest-client">
      <div class="latest-left">
        <h4>Latest Clients</h4>
      </div>
      <div class="latest-right">
        <img class="img-fish" src="/img/home/fish.svg" />
        <div class="latest-content">
          <h4 class="text-green">Koii</h4>
          <div class="latest-description">
            <p class="mb-0">
              KOII is building Decentralized Media and the Attention Economy
            </p>
            <a href="/clients">
              <div class="btn-hero m-w-165">
                <span class="text-green">//&nbsp;</span> SEE MORE
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
