<div class="home-body">
    <section class="what-need">
        <div class="container">
            <div class="what-need-container">
                <div class="font-cap1 underline font-blue">What Do You Need?</div>
            </div>
            <div class="row image-area">
                <div class="col-12 col-sm-4">
                    <div class="join-option">
                        <img src="/img/landing/x.svg">
                        <b>Integrated <br /> Incentives</b>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="join-option">
                        <img src="/img/landing/y.svg">
                        <b>Quick and Easy<br /> Templates</b>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="join-option">
                        <img src="/img/landing/z.svg">
                        <b>Composible<br /> Consensus</b>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>