<div class="home-body">
    <section class="what-need">
        <div class="container">
            <div class="what-need-container">
                <div class="font-cap1 underline">What Do You Need?</div>
            </div>
            <div class="row image-area mt50">
                <div class="join-option">
                    <img src="/img/landing/x.svg">
                    <div class="img-desc">
                        <div class="font-cap2 text-center mt20">Reliable Blockchain Developers</div>
                    </div>
                </div>
                <div class="join-option">
                    <img src="/img/landing/y.svg">
                    <div class="img-desc">
                        <div class="font-cap2 text-center mt20">dApp Product Development</div>
                    </div>
                </div>
                <div class="join-option">
                    <img src="/img/landing/z.svg">
                    <div class="img-desc">
                        <div class="font-cap2 text-center mt20">DeFi Advisory </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="latest-clients">
        <div class="container">
            <div class="font-cap3 text-center">LATEST CLIENTS</div>
        </div>
    </section>
    <section class="become-a-client">
        <div class="container">
            <div class="become-container">
                <div class="font-cap3">What Do You Need?</div>
            </div>
        </div>
    </section>

</div>